*.class
*.log
/.cache/
/.config/
/.g8/
/.ivy2/
/project/
/target/
/.gitconfig
/.metals/
/.vscode-server/
/.vscode/
/.bash_history
/.dotty_history
/.bsp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
